:root{
    --ukraineBlue: #005bbb;
    --ukraineYellow: #ffd500;
    --lightBlueBg: #e2f0ff;
    --lightYellowBg: #fff6c7;
    --textColor: #000000;
}


#signUp {
    border: 2px solid black ;
    border-radius: 5px;
}

#signUpForm {
   margin-bottom: 10px;
}
/* *{
    background-color: palegoldenrod;
} */

.card{
    display: inline-block; 
   margin: 4px; 
}

/* .carousel{
    background-color: grey;
    height: 200px; 
}  */